{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workzone</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-300 flex flex-col items-center justify-center min-h-screen">
    <div class="text-center px-6">
        <h1 class="text-7xl font-extrabold text-gray-700 mb-6">Welcome to WorkZone</h1>
        <h3 class="text-lg font-semibold text-gray-700 ">Find and post jobs easily with us.</h3>
        <p class="text-lg font-semibold text-gray-700 mb-12"> Let's get working...</p>
        <div class="flex justify-center gap-4 mb-5">
            <a href="#" class="bg-gray-500 text-gray-100 px-6 py-3 rounded-lg font-semibold hover:bg-gray-400 transition">Jobs</a>
            <a href="#" class="bg-gray-500 text-gray-100 px-6 py-3 rounded-lg font-semibold hover:bg-gray-400 transition">Post</a>
        </div>
    </div>
    <footer class="mt-12 text-gray-500 text-sm">Mashudu © 2025 HireSpot. All rights reserved.</footer>
</body>
</html>
